



<div class="container">
  <div class="row">
    <div id="map" 
        class="col-6"
        style="width: 50%; height: 500px;"
        data-markers=""
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="col-6">
      <div id="directions" class="directions"></div>
      <%#= simple_form_for @route do |f| %>
          <%#= f.input :start, as: :string, input_html: { id: 'search'} %>
          <%#= f.input :end, as: :string, input_html: { id: 'search-end'} %>
          <%#= f.submit "Send", class: 'btn btn-dark' %>
      <%# end %>
      <button type="button" id='btn-submit' class='btn btn-danger d-inline'>Select songs!</button>
      <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, class: 'btn btn-dark' %>
    </div>
  </div>
</div>

<div class="container">
  <% ids = ["3bBmpVl9rQKJsFFGLFilIS",  "6ixkZ2Q9gQeh52C6GxbETg"] %>

  <% ids.each do |id| %>
    <iframe src="https://open.spotify.com/embed/track/<%=id%>"  height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <% end %>
</div>

