
<div id="map"
     style="width: 100%; height: 500px;"
     data-markers=""
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div id="directions" class="directions"></div>
<%#= simple_form_for @route do |f| %>
    <%#= f.input :start, as: :string, input_html: { id: 'search'} %>
    <%#= f.input :end, as: :string, input_html: { id: 'search-end'} %>
    <%#= f.submit "Send", class: 'btn btn-dark' %>
<%# end %>


<button type="button" id='btn-submit' class='btn btn-danger'>Select songs!</button>



<% ids = ["3bBmpVl9rQKJsFFGLFilIS", "3RIgHHpnFKj5Rni1shokDj", "6ixkZ2Q9gQeh52C6GxbETg", "1l50kSDzpQuZxe6LXDnTzO", "2qpQvKdVtxgTRu4q6xXrL7", "7xSIYgB6KVCQNmKVVFwSkM"] %>
<iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% ids.each do |id| %>
  <iframe src="https://open.spotify.com/embed/track/<%=id%>"  height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% end %>
